body {
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(23, 23, 30);
}
    
.logo {
    height: 150px;
}








/* TIER LIST */
.TierList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TierListHeader {
    padding: 85px 10px 25px 10px;
    font: bold 36px "Segoe UI";
    display: flex;
    flex-direction: column;
}

.TierListHeaderText {
    font: 16px "Segoe UI";
    padding-top: 5px;
    max-width: 800px;
    color: rgb(182, 182, 182);
}

.TierListContainer {
    padding: 10px 10px 10px 10px;
    display: flex;
}

/* TIER CARD */
.TierCard {
    display: flex;
    flex-direction: column;
    padding: 25px 35px 25px 35px;
    min-height: 700px;
    max-width: 450px;
}

.TierCardHeader {
    background-color:rgb(32, 180, 70);
    border-radius: 12px 12px 0px 0px;
    font-size: 16px;
    padding: 20px;
    border-bottom: none;
}

.TierCardBody {
    background-color:rgb(18, 18, 23);
    border-radius: 0px 0px 6px 6px;
    height: 100%;
    border-bottom: 3px solid rgb(32, 180, 70);
}

.TierCardTierName {
    font: bold small-caps 28px "Segoe UI";
}

.TierCardPriceTag {
    padding-top: 10px;
    font: 24px "Franklin Gothic Medium";
}

.TierCardText {
    border-bottom: 3px solid rgb(32, 32, 32);
    min-height: 200px;
    padding: 50px 25px 0px 25px;
    display: flex;
    text-align: center; 
    font: 18px "Segoe UI";
}







/* INFERENCE LIST */
.InferenceTierList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InferenceTierListHeader {
    padding: 85px 10px 25px 10px;
    font: bold 36px "Segoe UI";
    display: flex;
    flex-direction: column;
}

.InferenceTierListHeaderText {
    font: 16px "Segoe UI";
    padding-top: 5px;
    max-width: 800px;
    color: rgb(182, 182, 182);
}

.InferenceTierListContainer {
    padding: 10px 10px 10px 10px;
    display: flex;
}


/* INFERENCE TIER CARD */
.InferenceTierCard {
    display: flex;
    flex-direction: column;
    padding: 25px 35px 25px 35px;
    min-height: 700px;
    max-width: 450px;
}

.InferenceTierCardHeader {
    background-color:rgb(32, 170, 180);
    border-radius: 12px 12px 0px 0px;
    font-size: 16px;
    padding: 20px;
    border-bottom: none;
}

.InferenceTierCardBody {
    font-size: 24px;
    background-color:rgb(18, 18, 23);
    border-radius: 0px 0px 6px 6px;
    font: 18px "Segoe UI";
    height: 100%;
    border-bottom: 3px solid rgb(32, 170, 180);
}

.InferenceTierCardTierName {
    font: bold small-caps 28px "Segoe UI";
}

.InferenceTierCardInferenceName {
    padding-top: 10px;
    font: bold 19px "Segoe UI";
}

.InferenceTierCardInferenceText {
    padding: 5px 12px 5px 12px;
    font: 14px "Segoe UI";
    color: rgb(182, 182, 182);
}

.InferenceTierCardPlayer {
    border-bottom: 3px solid rgb(32, 32, 32);
    padding: 10px;
}

















/* CONTACT INFO */
.ContactInfo {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.ContactInfoHeader {
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.ContactInfoContents {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    height: 50vh;
}