body {
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(23, 23, 30);
}
    
.logo {
    height: 125px;
    padding-top: 10px;
}


/* TIER CARD */
.tier-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tier-list-header {
    padding: 85px 10px 25px 10px;
    font: bold 36px "Segoe UI";
    display: flex;
    flex-direction: column;
}

.tier-list-header-text {
    font: 16px "Segoe UI";
    padding-top: 5px;
    max-width: 800px;
    color: rgb(182, 182, 182);
}

.tier-list-container {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
}

.tier-card {
    display: flex;
    flex-direction: column;
    padding: 25px 35px 25px 35px;
    min-height: 700px;
    max-width: 450px;
}

.tier-card-header {
    border-radius: 12px 12px 0px 0px;
    background-color:rgb(18, 18, 23);
    font-size: 16px;
    padding: 20px;
}

.tier-card-header-name {
    font: bold 32px "Corbel";
}

.tier-card-header-horizontal-line {
    margin-top: 30px;
}

.tier-card-body {
    background-color:rgb(18, 18, 23);
    border-radius: 0px 0px 6px 6px;
    height: 100%;
}

/* PRICING TIER CARD */
.TierCardPriceTag {
    padding-top: 10px;
    font: italic 24px "Franklin Gothic Medium";
}

.TierCardItemContainer {
    margin-left: 25px;
}

.TierCardListItem {
    list-style: none;
    font: 16px "Segoe UI";
    padding: 10px 30px 10px 0px;
    text-align: left;
}

.TierCardPreviousTierInfo {
    font: bold 17px "Segoe UI";
    padding-bottom: 15px;
}

.TierCardListItem::before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    padding-left: 25px;
    background-image: url("./images/checkmark.svg");
}

/* INFERENCE TIER CARD */
.InferenceTierCardInferenceName {
    padding-top: 10px;
    font: bold 19px "Segoe UI";
}

.InferenceTierCardInferenceText {
    padding: 5px 12px 5px 12px;
    font: 14px "Segoe UI";
    color: rgb(182, 182, 182);
}

.InferenceTierCardPlayer {
    padding: 10px;
}








/* CONTACT INFO */
.ContactInfo {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.ContactInfoHeader {
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.ContactInfoContents {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    height: 50vh;
}


.transition {
    width: 100%;
    height: 250px;
}

.InferenceTierList {
    padding-top: -100px;
    margin-top: -100px;
    background-color: rgb(26, 26, 34);
}

.navigation-bar {
    background-color:rgb(26, 26, 34);
}

.highlighted {
    scale: 1.07;
}