body {
    text-align: center;
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    padding-bottom: 50px;
}

/* TIER LIST */
.TierList {
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.TierListHeader {
    border: 1px solid rgb(31, 23, 31);
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.TierListContents {
    border: 1px solid rgb(173, 19, 187);
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

.TierListContainer {
    border: 1px solid rgb(5, 5, 172);
    display: flex;
    justify-content: center;
}

.TierCard {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    padding: 25px 35px 25px 35px;
    min-height: 800px;
    width: 500px;
}

.TierCardHeader {
    background-color:rgb(24, 24, 24);
    border-radius: 8px 8px 0px 0px;
    font-size: 16px;
}

.TierCardBody {
    font-size: 24px;
    background-color:rgb(27, 27, 27);
    border-radius: 0px 0px 8px 8px;
    font-size: 16px;
    height: 100%;
}

.TierCardBodyLine {
    border-bottom: 1px solid rgb(59, 59, 59);
    padding: 20px;
    display: flex;
    text-align: center; 
}

/* TIER LIST */
.Inferences {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.InferencesHeader {
    border: 1px solid rgb(16, 153, 158);
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.InferencesContents {
    border: 1px solid rgb(173, 19, 187);
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* TIER LIST */
.ContactInfo {
    border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.ContactInfoHeader {
    border: 2px solid rgb(179, 25, 76);
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.ContactInfoContents {
    border: 1px solid rgb(170, 187, 18);
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    height: 50vh;
}