body {
    text-align: center;
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    padding-bottom: 50px;
}

/* TIER LIST */
.TierList {
    display: flex;
    flex-direction: column;
}

.TierListHeader {
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.TierListContainer {
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
}

.TierCard {
    display: flex;
    flex-direction: column;
    padding: 25px 35px 25px 35px;
    min-height: 650px;
    width: 500px;
}

.TierCardHeader {
    background-color:rgb(32, 180, 70);
    border-radius: 12px 12px 0px 0px;
    font-size: 16px;
    padding: 20px;
    border: 3px solid rgb(59, 59, 59);
    border-bottom: none;
}

.TierCardBody {
    font-size: 24px;
    background-color:rgb(27, 27, 27);
    border-radius: 0px 0px 6px 6px;
    font: 18px "Segoe UI";
    height: 100%;
    border-left: 3px solid rgb(59, 59, 59);
    border-right: 3px solid rgb(59, 59, 59);
    border-bottom: 3px solid rgb(32, 180, 70);
}

.TierCardName {
    font: bold all-petite-caps 24px "Segoe UI";
}

.TierCardPriceTag {
    font: 26px "Segoe UI";
}

.TierCardText {
    border-bottom: 3px solid rgb(59, 59, 59);
    min-height: 150px;
    padding: 20px;
    display: flex;
    text-align: center; 
}

/* INFERENCE LIST */
.InferenceTierList {
    display: flex;
    flex-direction: column;
}

.InferenceTierListHeader {
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.InferenceTierListContainer {
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
}

.InferenceTierCard {
    display: flex;
    flex-direction: column;
    padding: 25px 35px 25px 35px;
    min-height: 650px;
    width: 500px;
}

.InferenceTierCardName {
    font: bold all-petite-caps 24px "Segoe UI";
}

.InferenceTierCardHeader {
    background-color:rgb(32, 170, 180);
    border-radius: 12px 12px 0px 0px;
    font-size: 16px;
    padding: 20px;
    border: 3px solid rgb(59, 59, 59);
    border-bottom: none;
}

.InferenceTierCardBody {
    font-size: 24px;
    background-color:rgb(27, 27, 27);
    border-radius: 0px 0px 8px 8px;
    font-size: 16px;
    height: 100%;
    border-left: 3px solid rgb(59, 59, 59);
    border-right: 3px solid rgb(59, 59, 59);
    border-bottom: 3px solid rgb(32, 170, 180);
}

.InferenceTierCardText {
    height: 100px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    vertical-align: center;
}

.InferenceTierCardPlayer {
    border-bottom: 1px solid rgb(59, 59, 59);
    text-align: center;
    padding: 10px; 
}

/* TIER LIST */
.ContactInfo {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.ContactInfoHeader {
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.ContactInfoContents {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    height: 50vh;
}